<%- include("partials/header") -%>

    <h1>Contact</h1>
    <p>
        <%=contactcontent%>
        <br> Contact - 6375261911
        <br> E-mail - deepanshu.bansal.eee21@itbhu.ac.in  
    </p>

    <%- include("partials/footer") -%>